.container.request_form section .content .name,
.container.request_form section .content .stu_id,
.container.request_form section .content .reason,
.container.request_form section .content .photo {
  margin: 0.89058524rem 0;
  color: #3A3A3A;
}
.container.request_form section .content .name,
.container.request_form section .content .stu_id {
  position: relative;
  height: 0.71246819rem;
  line-height: 0.71246819rem;
}
.container.request_form section .content .name input,
.container.request_form section .content .stu_id input {
  position: relative;
  z-index: 5;
  width: 5.8778626rem;
  height: 0.66157761rem;
  padding: 0.07633588rem 0;
  vertical-align: middle;
  border-radius: 0.25445293rem;
  text-align: center;
  font-size: 0.3562341rem;
  box-shadow: 0.10178117rem 0.10178117rem 0.50890585rem 0rem #C5EDFF4D;
  color: #A6A6A6;
  border: 0.02544529rem solid transparent;
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  background-image: linear-gradient(to right, #fff, #fff), linear-gradient(90deg, #98E0FF 0%, #B7DDFB 63.71%, #CFD7F8 100%);
  font-family: 'PingFang Regular';
}
.container.request_form section .content .reason,
.container.request_form section .content .photo {
  position: relative;
}
.container.request_form section .content textarea,
.container.request_form section .content .images {
  position: relative;
  z-index: 5;
  margin-top: 0.25445293rem;
  padding: 0.40712468rem;
  width: 7.07379135rem;
  height: 2.90076336rem;
  border-radius: 0.25445293rem;
  box-shadow: 0.10178117rem 0.10178117rem 0.50890585rem 0rem #C5EDFF4D;
  border: 0.02544529rem solid transparent;
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  background-image: linear-gradient(to right, #fff, #fff), linear-gradient(90deg, #98E0FF 0%, #B7DDFB 63.71%, #CFD7F8 100%);
  font-family: 'PingFang Regular';
}
.container.request_form section .content .reason textarea {
  resize: none;
  outline: none;
  font-size: 0.3562341rem;
  color: #A6A6A6;
}
.container.request_form section .content .photo .images {
  display: flex;
  justify-content: start;
  padding: 0.22900763rem;
  border: 0.02544529rem solid transparent;
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  background-image: linear-gradient(to right, #fff, #fff), linear-gradient(90deg, #98E0FF 0%, #B7DDFB 63.71%, #CFD7F8 100%);
}
.container.request_form section .content .photo .images .image_ele {
  position: relative;
  width: 2.0610687rem;
  min-width: 2.0610687rem;
  height: 2.08651399rem;
  margin-left: 0.27989822rem;
  z-index: 8;
}
.container.request_form section .content .photo .images .image_ele img {
  position: absolute;
  bottom: 0.02544529rem;
  left: 0.02544529rem;
  width: 1.80661578rem;
  height: 1.83206107rem;
  border-radius: 0.25445293rem;
  background: #c0c0c0;
  z-index: 10;
}
.container.request_form section .content .photo .images .image_ele span {
  box-sizing: border-box;
  position: absolute;
  top: 0.02544529rem;
  right: 0.02544529rem;
  width: 0.50890585rem;
  height: 0.50890585rem;
  line-height: 0.38167939rem;
  border: 0.05089059rem solid #fee0fc;
  border-radius: 50%;
  background-color: #fff;
  font-weight: 500;
  text-align: center;
  color: #fee0fc;
  z-index: 15;
}
.container.request_form section .content .photo .images .image_ele:first-child {
  margin: 0;
}
.container.request_form section .content .photo .images .add_image {
  position: relative;
  width: 100%;
  height: 2.08651399rem;
  font-size: 0.25445293rem;
  color: #3A3A3A;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.container.request_form section .content .photo .images .add_image span {
  margin-top: 0.12722646rem;
  font-size: 0.20356234rem;
  color: #A6A6A6;
}
.container.request_form section .footer {
  width: 100%;
}
.container.request_form section .footer .submit,
.container.request_form section .footer .back {
  margin: 0.76335878rem 0.58524173rem;
  width: 5.92875318rem;
  height: 0.71246819rem;
  position: relative;
  border-radius: 0.25445293rem;
  font-size: 0.3562341rem;
  color: #fff;
  box-shadow: 0.10178117rem 0.10178117rem 0.38167939rem 0rem #C5EDFF66;
  border: 0.02544529rem solid transparent;
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  background-image: linear-gradient(90deg, #98E0FF 0%, #B7DDFB 63.71%, #CFD7F8 100%), linear-gradient(90deg, #98E0FF 0%, #B7DDFB 63.71%, #CFD7F8 100%);
  font-family: 'PingFang Medium';
}
