@rootFontSize: 39.3 * 1rem;

.approval_request_form {
  .filed {
    .footer {
      padding: 0 (8 / @rootFontSize);
      display: flex;
      justify-content: space-between;
      button {
        width: (105 / @rootFontSize);
        height: (28 / @rootFontSize);
        border-radius: (10 / @rootFontSize);
        font-size: (14 / @rootFontSize);
        color: #fff;
        border: (1 / @rootFontSize) solid transparent;
        background-clip: padding-box, border-box;
        background-origin: padding-box, border-box;
      }
      .agree {
        background-image: linear-gradient(90deg, #98E0FF 0%, #98E0FF 100%), linear-gradient(90deg, #98E0FF 0%, #B7DDFB 63.71%, #CFD7F8 100%);
      }
      .disagree {
        background-image: linear-gradient(90deg, #FFBAD3 0%, #FFBAD3 100%), linear-gradient(90deg, #FFBAD3 0%, #F7D4EF 68.4%, #E1DCFF 100%);

      }
    }
  }
}